/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}

.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.header {
  text-align: right;
  margin-bottom: 16px;
}

.header__image {
  width: 100%;
}

.header__info {
  font-family: fantasy, cursive;
}

.main {
  width: 500px;
  margin: 0 auto;
  display: block;
}

.top__section-element {
  margin-bottom: 16px;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}

.task__row {
  display: flex;
}

.task__row-new,
.list__label,
.list__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.task__row-new,
.list__input,
.btn {
  outline: none;
}

.task__row-new,
.list__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dddddd;
  background: #ffffff;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #888888;
}

.btn {
  background: none;
  border: 0px;
  color: #888888;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3A3a;
}

/* Heading */
.task__new-label,
.title {
  color: #333333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* New Task */
.task__new-label {
  display: block;
  margin: 0 0 20px;
}

.task__row-new {
  width: 318px;
}

/* Task list */
.list {
  margin: 0;
  padding: 0px;
}

.list__fill,
.title {
  list-style: none;
}

.task__row-new,
.list__input:focus {
  color: #333333;
}

.list__fill {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__fill {
  vertical-align: middle;
}

.list__checkbox {
  margin: 0 10px;
}

.list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list__input {
  width: 226px;
}

.list__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.list__image:hover {
  transform: rotateZ(0);
}

/* Completed */
.complated__task-list .list__label {
  text-decoration: line-through;
  color: #888888;
}

/* Edit Task */
.list__input {
  display: none;
}

.list__fill-edit .list__input {
  display: inline-block;
  width: 224px;
}

.list__fill-edit .list__label {
  display: none;
}